/* 
Media query de acuerdo a la orientacion para mostrar el contenido de la forma mas cómoda.
-Cambia el contenido del boton menu
-Cambia los margenes del texto
-Cambia las proporciones en la barra de titulo
-Cambia el tamaño del reproductor de audio de bienvenida
*/

@media (orientation: landscape) {
    #Icono:after {
        content: "Menu";
        font-family: 'Roboto', sans-serif;
        font-size: 5vmin;
        line-height: 1.8;   
    }

    header {
        height: 15vh;
    }
    
    .division {
        margin-left: 20vh;
        margin-right: 20vh;
    }

    .periodo {
        padding-left: 5vh;
        margin-left: 20vh;
        margin-right: 20vh;
        width: calc(99vw - 20vh - 20vh - 5vh); 
    }

    li{
        padding-left: 5vh;
        margin-left: 20vh;
        margin-right: 20vh;
    }

    audio{
        margin-left: 25vh;
        height: max(6vmin,20pt);
        width: 50%;
        filter: opacity(80%);
    }

}


@media (orientation: portrait) {
    #Icono:after {
        font-family: 'Yeon Sung', cursive; 
        font-size: max(8vh,12pt); 
        content: "≡";        
    }

    header {
        height: 5vh;
    }

    .division {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .periodo {
        padding-left: 5vw;
        margin-left: 5vw;
        margin-right: 10vw;
        width: 79vw; 
    }

    li{
        margin-left: 10vw;
        margin-right: 5vw;
    }

    audio{
        margin-left: 5vw;
        height: max(10vmin,20pt);
        width: 80%;
        filter: opacity(80%);
    }
}


/* 
Formateo general del contenido

-La fuente utiliza el formato "Vmin" para ser responsive con los diferentes tamaños de pantalla
-Se utilizan las funciones "max" y "min" para determinar los tamaños de fuente y evitar que la fuente sea muy grande 
en alta resolución y muy pequeña en baja resolución.
*/

header {
    display:flex;
    width:100vw;
    justify-content: space-between;
    align-items: flex-start;
    position:sticky;
    top: 0;
    padding: 0px;
    background: #050A30;
}


#Menu {
    background-color:transparent;
    box-sizing: border-box;
    border:#055C9D  5px solid ;
    color: #7EC8E3;
    padding: 0%;
    padding-top: 1vh ;
    padding-bottom: 2vh ;
    text-align:center ; 
    height:inherit;
    aspect-ratio: 1/1;
}


#titulo {
    box-sizing:border-box;
    height:inherit;
    font-family: 'Roboto', sans-serif;
    font-size: max(6vmin,18pt);
    display: block;
    color: #7EC8E3;
    margin:0;   
    padding-top: min(3vmax,3vh) ;  
    padding-bottom: min(3vmax,3vh) ;
    text-align: center;
}


#foto {
    box-sizing: border-box;
    border:#055C9D 5px solid;
    height:inherit;
    aspect-ratio: 1/1;  
}


#botonera{
    background-color: rgba(0.5, 0.5, 0.5, 0.9);
    position: fixed;
    overflow-x: hidden;
    height: 85%;
    width: 0%;
    transition: 0.5s;
    text-align: center;
    padding-top: 10vh;
}


#botonera button{
    background-color: rgba(5, 92, 157, 0.6);
    font-family: 'Roboto', sans-serif;
    font-size: 5vmin;
    color: #7EC8E3;
    height: 10vh;
    width: 100%;
    padding: 0%;
    border: 2px 2px 2px 2px;
    border-color:rgba(0.5, 0.5, 0.5, 0.9);
}


body {
    margin: 0%;
    overflow-x: hidden;
}


#principal {
    display: block ;
    box-sizing:content-box;  
    block-size: fit-content;  
    background-color: #000C66;
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100vw;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 6vmin;
    color: #7EC8E3;
}


.division {
    font-family: 'Roboto', sans-serif;
    font-size: max(6vmin,20pt);
    color: #7EC8E3;
    list-style: none;
    padding-bottom: 3vh;
}


.periodo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: max(2vmin,12pt);
    font-style: italic;
    color: #7EC8E3;
    border-bottom: double #055C9D; 
    line-height: 0.1%;
    margin-bottom: 3vh;
}


.periodo span {
    background: #000C66;
    padding-left: 1vw;
    padding-right: 1vw;
}


ul {
    padding-top: 3vh;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 5vh;
    margin: 0%;
}


li {
    font-family: 'Roboto', sans-serif;
    font-size: max(4vmin,12pt);
    color: #7EC8E3;
    list-style: '●  ' inside;
}


audio {
    font-family: 'Roboto', sans-serif;
    font-size: max(4.5vmin,16pt);
    color: #7EC8E3;
}


a {
    color: #7EC8E3;
}


footer {
    height: 5vh;
    width: 100vw;
    background-color: #050A30;
    color: #7EC8E3;
    font-family: 'Roboto', sans-serif;
    font-size: max(2.5vmin, 12pt);
    border: 0;
    margin: 0;
    padding: 0;
    position:sticky;
    display: flex;
}

#der{
    width: 18%;
    text-align: right; 
    box-sizing:border-box;
    margin-right: 1%;
}

#izq{
    width: 80%;
    text-align: left; 
    box-sizing:border-box;
    margin-left: 1%;
}

